/*** *Styles Reset ***/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-white: #fff;
    --current-day-bgClr: rgba(50, 50, 50, 0.7);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

/*** *App Styles ***/

.content-wrapper {
    background-image: url('../public/images/artistic-landscape.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-field {
    padding-top: 0.25rem;
    position: relative;
}

#search-locale {
    border: 5px solid #fff;
    border-radius: 5px 5px 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.8;
    transition: all 150ms;
    padding: 0.25rem;
    outline: none;
}

#search-locale::placeholder {
    color: #000;
}

#search-locale:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.error-msg {
    position: absolute;
    padding: .25rem;
    opacity: 1;
    background-color: var(--current-day-bgClr);
    border: 1px solid var(--current-day-bgClr);
    color: #f55b5b;
    pointer-events: none;
    border-radius: 0 0 5px 5px;
    transition: all 300ms ease-in-out;
    font-weight: bold;
}

.error-msg.hidden {
    opacity: 0;
}

svg.search {
    position: absolute;
    right: 3px;
    bottom: 7px;
}

/*** *Current-day Card Styles ***/

.weather-app {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}


.current-day-content {
    background-color: var(--current-day-bgClr);
    border: 1px solid var(--current-day-bgClr);
    border-radius: 5px;
    font-weight: bold;
    padding: 1.5rem 4rem;
    color: #fff;
    max-width: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.conditions,
.temp-high-low {
    font-size: 2.5rem;
}

.temp-now {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}


.locale-name {
    font-size: 1.5rem;
}

.temp-high::before {
    content: "High: ";
}

.temp-high {
    border-bottom: 2px solid #fff;
    padding-bottom: 0.5rem;
}

.temp-low::before {
    content: "Low: "
}

.date,
.time {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

/*** *Coming Week Styles ***/

.the-coming-week {
    max-width: max-content;
    background-color: var(--current-day-bgClr);
    border: 1px solid var(--current-day-bgClr);
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 2rem;
}

.upcoming.title {
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    flex: 1 1 100%;
    max-height: max-content;
    text-align: center;
    text-decoration: underline;
}

.upcoming.day {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    color: #fff;
    font-weight: bold;
}

.upcoming-day-name,
.upcoming-temp-high {
    font-size: 1.5rem;
}

.upcoming.day img {
    width: 60px;
    height: 60px;
}

/*** *Slider Checkbox styles ***/

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}

.slider-container {
    margin: 1rem 0 .25rem 0;
    display: flex;
    justify-content: center;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    font-weight: bold;
}

.slider::before {
    background-color: #fff;
    bottom: 4px;
    content: "°C";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    text-align: center;
}

input:is(:checked)+.slider::before {
    background-color: #fff;
    bottom: 4px;
    content: "°F";
    height: 26px;
    left: 5px;
    position: absolute;
    transition: .4s;
    width: 26px;
    text-align: center;
}


input:checked+.slider {
    background-color: #0268c2
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    position: absolute;
    top: 0;
}

.slider.round:before {
    border-radius: 50%;
}


/*** *Loader Styles ***/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    pointer-events: none;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: #0268c2;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}